/* @media(min-width: 992px){
    .selector{
        width: 971px;
    }
}

@media(max-width: 768px){
    .selector{
        width: 751px;
    }
}*/

body {
    background-color: aquamarine;
    min-width: 321px;
    max-width: 400px;
}

html {
    background-color: blueviolet;
}
